.panel.panel-default
  .panel-heading
    %h4.panel-heading
      %a{href: "#collapse-panel-#{@widget.id}", data: { toggle: 'collapse', parent: "#accordion-#{@obj.id}" }}
        = cms_tag(:span, @widget, :headline)

  .panel-collapse.collapse{id: "collapse-panel-#{@widget.id}"}
    .panel-body
      = cms_tag(:div, @widget, :content)
