.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-lock

    Login

  .panel-body
    = form_for(:user, url: cms_path(homepage.login_page), html: { class: 'form-horizontal', role: 'form' }) do |form|
      = hidden_field_tag(:return_to, cms_path(page))
      = hidden_field_tag(:authenticity_token, form_authenticity_token)

      .form-group
        = form.label(:login, 'Login', class: 'control-label col-md-3')

        .col-md-9
          = form.text_field(:login, class: 'form-control', required: true)

      .form-group
        = form.label(:password, 'Password', class: 'control-label col-md-3')

        .col-md-9
          = form.password_field(:password, class: 'form-control', required: true)

      .form-group
        .col-md-offset-3.col-md-9
          = form.submit('Login', class: 'btn btn-success')

  .panel-footer
    = link_to(cms_path(homepage.reset_password_page)) do
      Did you forget your password?
